.enla1{
    background: aqua;
    color: blueviolet;
    font-size: 60px;
}
.enla2{
    background: chartreuse;
    color: chocolate;
    font-size: 39px;
}
.enla3{
    background: cornflowerblue;
    color: darkgreen;
    font-size: 80px;
}
.enla4{
    background: darksalmon;
    color: dimgrey;
    font-size: 90px;
}
.enla5{
    background: firebrick;
    color: fuchsia;
    font-size: 45px;
}